body {
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
  

h1 {
    text-align: center;
    margin-top: 50px;
    color: #000000;
    text-shadow: 1px 2px 1px #867878;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px; 
}

#galeria img {
    width: auto;
    height: 300px;
    margin: 10px;
    box-shadow: 5px 5px 10px #000000;
    transition: transform 0.2s;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    #galeria img{
        display: grid;
        grid-template-columns:1;
        justify-content: center;
        align-items: center;
    }
}
#galeria img:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 20px #000000;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

#btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}
#btn-retrocede {
    position: absolute;
    top: 50%;
    left:0 ;
    font-size: 20px;
}

#btn-adelanta {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 20px;
}

#img-activa {
    width: 100%;
    height: auto;
}

#overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
}
  
/* Estilo para la imagen en primer plano */
#overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    max-width: auto;
    max-height: 100%;
}

@media screen and (max-width: 600px) {
    #overlay-img {
        width: 95%;
    }
}

#irarriba {
  opacity: 1;
  visibility: visible; 
  top: 532px; 
  left: 522px;
}